.container {
  margin: 5%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.footer Button {
  margin-right: 10px;
}

